section hgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

section hgroup a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  padding: 0.5rem 0.5rem 0.25rem 1rem;
  border-radius: 0.25rem;
  background-color: #649d78;
  color: #e0f0e0;
}

section hgroup a:hover {
  background-color: #4d7a57;
}
