main form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--smoke-500);
  color: var(--smoke-50);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--smoke-600);
}

button:active {
  outline: none;
  background-color: var(--smoke-700);
  box-shadow: 0 0 0 0.125rem var(--smoke-500);
}

main button[type="submit"] {
  background-color: var(--gopher-500);
}

main sbutton[type="submit"]:hover {
  background-color: var(--gopher-600);
}

input,
select {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--smoke-200);
  color: var(--smoke-950);
  transition: all 0.2s ease-in-out;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--smoke-500);
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  z-index: 1;
  box-shadow: 0 0 0 0.125rem var(--smoke-500);
}

input[type="checkbox"]:not([switch]),
input[type="radio"] {
  width: 1rem;
  height: 1rem;
  transition: all 0.2s ease-in-out;
  appearance: none;
  position: relative;
}

input[type="checkbox"]:not([switch]):checked {
  background-color: var(--gopher-500);
}

input[type="checkbox"]:not([switch])::after {
  content: "";
  display: block;
  border-bottom: 0.125rem solid var(--smoke-50);
  border-left: 0.125rem solid var(--smoke-50);
  position: absolute;
  top: 0.5rem;
  left: 0.125rem;
  right: 0.125rem;
  bottom: 0.125rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform-origin: top left;
  transform: rotate(-90deg);
}

input[type="checkbox"]:not([switch]):checked::after {
  opacity: 1;
  transform: rotate(-45deg);
}

input[type="radio"] {
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 0.125rem var(--smoke-200) inset,
    0 0 0 1rem var(--gopher-500) inset;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  user-select: none;
}

label:has(input[type="checkbox"]),
label:has(input[type="radio"]) {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

fieldset {
  border: none;
  border-bottom: 0.0625rem solid var(--smoke-200);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

fieldset:last-child {
  border-bottom: none;
}

legend {
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--smoke-500);
}

textarea {
  height: 10rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--smoke-200);
}

label small {
  font-size: 0.75rem;
  margin-top: -0.5rem;
  color: var(--smoke-500);
}

input[type="file"] {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 0.4rem;
  max-width: 100%;
}

input[type="checkbox"][switch] {
  appearance: none;
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 1rem;
  background-color: var(--smoke-200);
  position: relative;
  cursor: pointer;
}

input[type="checkbox"][switch]::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--gopher-500);
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"][switch]:checked {
  background-color: var(--gopher-500);
}

input[type="checkbox"][switch]:checked::before {
  left: calc(100% - 1.125rem);
  background-color: var(--smoke-200);
}

@media (prefers-color-scheme: dark) {
  fieldset {
    border-color: var(--smoke-700);
  }

  textarea,
  input,
  select {
    background-color: var(--smoke-800);
    color: var(--smoke-50);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--smoke-500);
  }

  input[type="checkbox"][switch] {
    background-color: var(--smoke-700);
  }

  input[type="checkbox"][switch]:checked::before {
    background-color: var(--smoke-700);
  }
}
