section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form section:first-child fieldset {
  background-color: var(--smoke-50);
  border-radius: 0.5rem;
  padding: 1rem;
}

h2 {
  max-width: 80rem;
  margin: 0 auto;
  width: 100%;
}

#write-form {
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: 1rem;
  align-items: start;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

#write-form > section:has(form) {
  position: sticky;
  top: 0rem;
}

@media (max-width: 1024px) {
  #write-form {
    display: flex;
    flex-direction: column;
  }

  #write-form > section:has(form) {
    position: unset;
  }
}

@media (prefers-color-scheme: dark) {
  form section:first-child fieldset {
    background-color: var(--smoke-950);
  }
}
